<div style="padding: 50px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Nombre usuario</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Usuarios">
        <th scope="row">{{user.nonbre}}</th>
        <td>{{user.nonbre}}</td>
        <td>{{user.nonbre}}</td>
        <td>{{user.nonbre}}</td>
        <td>{{user.nonbre}}</td>
        <td>
          <button type="button" class="btn btn-warning">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

