<div style="padding: 50px;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Nombre usuario</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Borrar</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>at</td>
            <td>mdo</td>
            <td>
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Borrar</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>mdo</td>
            <td>at</td>
            <td>mdo</td>
            <td>
                <button type="button" class="btn btn-warning" (click)="editarUsuario(1)">Editar</button>
                <button type="button" class="btn btn-danger" (click)="borrarUsuario()" >Borrar</button>
            </td>
          </tr>
          
        </tbody>
      </table>
</div>