<div style="margin:50px;  text-align: center;">
    <div>
        <h1>Registro de nuevo usuario</h1>
    </div>
    
    <div >
        <div>
            <input type="text" name="" id="" placeholder="Nombre" style="width: 100%; margin: 10px; max-width: 400px;">
        </div>
        <div>
            <input type="text" name="" id="" placeholder="Nombre Usuario" style="width: 100%; margin: 10px; max-width: 400px;">
        </div>
        <div>
            <input type="text" name="" id="" placeholder="Correo" style="width: 100%; margin: 10px; max-width: 400px;">
        </div>
        <div>
            <input type="text" name="" id="" placeholder="Telefono" style="width: 100%; margin: 10px; max-width: 400px;">
        </div>    
        <div>
            <button type="button" class="btn btn-success">Registrar</button>
        </div>
        
        
        
    </div>
</div>